apiVersion: v1
kind: Secret
metadata:
  name: twitter-serverless-video-download
  labels:
    app: twitter-source
type: Opaque
data:
  T_CONSUMER_KEY: ###BASE64###
  T_CONSUMER_SECRET: ###BASE64###
  T_ACCESS_TOKEN: ###BASE64###
  T_ACCESS_SECRET: ###BASE64###
  SELF_HANDLE: ###BASE64###